<div>
  <mat-toolbar color="primary">
    <a mat-button href="/home" class="mynav-item">Home</a>
    <a mat-button href="/server" class="mynav-item">Server</a>
    <a mat-button href="/friends" class="mynav-item">Friends</a>
    <span class="example-spacer"></span>
    <div *ngIf="authService.currentUser;else noSignIn">
      <button mat-button class="mynav-item">{{authService.currentUser.username}}</button>
      <a mat-icon-button class="mynav-item" matTooltip="Add server"><mat-icon>add</mat-icon></a>
      <a mat-icon-button class="mynav-item" (click)="onSignOut()" matTooltip="Sign Out"><mat-icon>logout</mat-icon></a>
      <a mat-icon-button class="mynav-item" matTooltip="Edit profile"><mat-icon>settings</mat-icon></a>
    </div>
    <ng-template #noSignIn>
      <a mat-icon-button class="mynav-item" matTooltip="Sign In" href="/login"><mat-icon>login</mat-icon></a>
    </ng-template>
  </mat-toolbar>
</div>
