<div>
  <mat-toolbar color="primary">
    <a mat-button href="/server" class="mynav-item">Servers</a>
    <a mat-button href="/friends" class="mynav-item">Friends</a>
    <a mat-button href="/home" class="mynav-item">Home</a>
    <a mat-button href="/david" class="mynav-item">David</a>
    <a mat-button href="/maria" class="mynav-item">Maria</a>
    <span class="example-spacer"></span>
    <div *ngIf="authService.userData">
      <button mat-button class="mynav-item">{{authService.userData.username}}</button>
    </div>
    <div *ngIf="isLogged">
      <a mat-icon-button class="mynav-item" (click)="onSignOut()"><mat-icon>poll</mat-icon></a>
    </div>
    <a mat-icon-button class="mynav-item"><mat-icon>menu</mat-icon></a>
    <a mat-icon-button class="mynav-item"><mat-icon>add</mat-icon></a>
    <a mat-icon-button class="mynav-item" href="/login"><mat-icon>login</mat-icon></a>
    <a mat-icon-button class="mynav-item"><mat-icon>settings</mat-icon></a>
  </mat-toolbar>
</div>
