.example-spacer {
  flex: 1 1 auto;
}

.mynav-item {
  margin-left: 10px;
  text-decoration: none;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}

.mynav-item:hover {
  background-color: #162eb8;
}