.sidebar {
  height: 100%;
  width: 16.67%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #7b1fa2;
}

.nav-item button{
  color: #ffffff;
  font-size: 20px;
  padding-left: 20px;
}
.nav-item a {
  width: 100%;
  display: block;
}

.nav li:hover{
  // background-color: #650091;
  background-color: #862dac;
}