<aside class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="link-nav" href="/home"><button mat-icon-button>
        <mat-icon>home</mat-icon><span class="m-2">Home</span>
      </button></a>
    </li>
    <li class="nav-item">
      <a class="link-nav" href=""><button mat-icon-button>
        <mat-icon>videogame_asset</mat-icon><span class="m-2">Gaming</span>
      </button></a>
    </li>
    <li class="nav-item">
      <a class="link-nav" href=""><button mat-icon-button>
        <mat-icon>music_note</mat-icon><span class="m-2">Music</span>
      </button></a>
    </li>
    <li class="nav-item">
      <a class="link-nav" href=""><button mat-icon-button>
        <mat-icon>import_contacts</mat-icon><span class="m-2">Manga</span>
      </button></a>
    </li>
    <li class="nav-item">
      <a class="link-nav" href=""><button mat-icon-button>
        <mat-icon>school</mat-icon><span class="m-2">Education</span>
      </button></a>
    </li>
    <li class="nav-item">
      <a class="link-nav" href=""><button mat-icon-button>
        <mat-icon>developer_board</mat-icon><span class="m-2">Tech</span>
      </button></a>
    </li>
    <li class="nav-item">
      <a class="link-nav" href=""><button mat-icon-button>
        <mat-icon>favorite</mat-icon><span class="m-2">Favorites</span>
      </button></a>
    </li>
  </ul>
</aside>