<div class="parallax">
  <div class="overImage">
    <span class="textOver">
      Find the best rooms to chat with people from over the world and talk about different topics
    </span>
    <h1 class="title">WhatsUp!!</h1>
  </div>
</div>
<div class="servers">
  <div class="row row-cols-1 row-cols-md-3 mx-0">
    <div class="col mb-3">
      <div class="card text-white bg-dark">
        <img src="/assets/imgs/server_manga.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Server manga</h1>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer d-flex">
          <small class="text-muted">Last updated 3 mins ago</small>
          <span class="spacer"></span>
          <button mat-flat-button color="primary">Join here</button>
        </div>
      </div>
    </div>
    <div class="col mb-3">
      <div class="card text-white bg-dark">
        <img src="/assets/imgs/server_education_studing.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="card-title">Server to study</h1>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer d-flex">
        <small class="text-muted">Last updated 3 mins ago</small>
        <span class="spacer"></span>
        <button mat-flat-button color="primary">Join here</button>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card text-white bg-dark">
      <img src="/assets/imgs/server_tech_oldschool.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="card-title">Server tech old school</h1>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer d-flex">
        <small class="text-muted">Last updated 3 mins ago</small>
        <span class="spacer"></span>
        <button mat-flat-button color="primary">Join here</button>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card text-white bg-dark">
      <img src="/assets/imgs/server_tech_apple.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="card-title">Server apple</h1>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer d-flex">
        <small class="text-muted">Last updated 3 mins ago</small>
        <span class="spacer"></span>
        <button mat-flat-button color="primary">Join here</button>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card text-white bg-dark">
      <img src="/assets/imgs/server_gamin_cod.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="card-title">Server gaming cod</h1>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer d-flex">
        <small class="text-muted">Last updated 3 mins ago</small>
        <span class="spacer"></span>
        <button mat-flat-button color="primary">Join here</button>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card text-white bg-dark">
      <img src="/assets/imgs/server_manga_anime.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="card-title">Server anime</h1>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer d-flex">
        <small class="text-muted">Last updated 3 mins ago</small>
        <span class="spacer"></span>
        <button mat-flat-button color="primary">Join here</button>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card text-white bg-dark mb-3">
      <img src="/assets/imgs/server_tech_pc.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="card-title">Server pc building</h1>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer d-flex">
        <small class="text-muted">Last updated 3 mins ago</small>
        <span class="spacer"></span>
        <button mat-flat-button color="primary">Join here</button>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="parallax"></div>
<div class="parallax"></div>
<!-- <h1>{{syncronizeData.messages}}</h1> -->